@font-face { 
    font-family: HyliaSerifBeta-Regular; 
    src: url('HyliaSerifBeta-Regular.otf'); 
}

.defender > h2, .your-hero > h2, .villain > h1, .champion > h1, .hero > h1, .fight > h2, .defenders > h1, .fight-text-hero > h2, .fight-text-villain > h2, .enemies > h2 {
    font-size: 1em;
}

body {
    font-family: HyliaSerifBeta-Regular, Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

container {
    border: 2px solid green;
    float: none;
    margin: 0 auto;
}

.page-header {
    border: 2px solid rgb(128, 128, 128);
    background-color: rgba(0, 0, 0, 0.5);
}

.display {
    margin: 0 auto;
    background: grey;
}

.hero {
    border: 2px solid rgb(128, 128, 128);
    text-align: center;
    outline-offset: 2px;
    width: 100%;
    float: none;
    margin: 0 auto;
}

.hero > img {
    max-width: 100%;
    max-height: 150px;
}

.hero:hover {
    border: 4px solid rgb(255, 255, 255);
    outline-offset: 4px;
}

.champion {
    border: 2px solid rgb(128, 128, 128);
    background: yellow;
    text-align: center;
    outline-offset: 2px;
    width: 100%;
    float: none;
    margin: 0 auto;
}

.champion > img {
    max-width: 100%;
    max-height: 170px;
}

.defenders {
    background: red; 
    border: 2px solid rgb(128, 128, 128);
    text-align: center; 
    width: 100%;
    float: none;
    margin: 0 auto;
}

.defenders > img {
    max-width: 100%;
    max-height: 150px;
}

.villain {
    background: black;  
    color: white;   
    border: 2px solid rgb(128, 128, 128);
    text-align: center; 
    outline-offset: 2px;
    width: 100%;
    float: none;
    margin: 0 auto;
}

.villain > img {
    max-width: 100%;
    max-height: 170px;
}

/* Hero backgrounds */

#Ganondorf {
    background-image: url('../images/ganonbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

#Dark-Link {
    background-image: url('../images/darklinkbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

#Zelda {
    background-image: url('../images/zeldabackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

#Link {
    background-image: url('../images/linkbackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.winner {
    background-image: url('../images/triforce.gif');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

@media only screen 
and (max-device-width: 640px), 
only screen and (max-device-width: 667px), 
only screen and (max-width: 480px) {

#Ganondorf {
    background-image: url('../images/ganonbackground.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

#Dark-Link {
    background-image: url('../images/darklinkbackground.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

#Zelda {
    background-image: url('../images/zeldabackground.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

#Link {
    background-image: url('../images/linkbackground.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

    
}