@font-face { 
    font-family: HyliaSerifBeta-Regular; 
    src: url('HyliaSerifBeta-Regular.otf'); 
} 

body {
    font-family: HyliaSerifBeta-Regular;
    font-size: 2em;
}

.hero {
    border: 2px solid blue;
    text-align: center;
}

.hero > img {
    max-width: 100%;
    max-height: 170px;
}

.hero:hover {
    border: 2px solid grey;
    outline-offset: 2px;
}

.champion {
    border: 2px solid blue;
    background: yellow;
    text-align: center;  
}

.champion > img {
    max-width: 100%;
    max-height: 170px;
}

.defenders {
    background: red; 
    border: 2px solid blue;
    text-align: center; 
}

.defenders > img {
    max-width: 100%;
    max-height: 170px;
}

.villain {
    background: black;  
    color: white;   
    border: 2px solid blue;
    text-align: center; 
}

.villain > img {
    max-width: 100%;
    max-height: 170px;
}
